html
    head 
        title EasyToDo
        link(rel='styleseet' type='text/css' href='/css/todo.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/js/main.js')
    body 
        h1 EasyToDo
        #app
            form(action='/send' method='POST')
                input(type='text' name='taskName' placeholder='e.g. Finish COMP6006 Prac')
                button(class='addTaskBtn' type='submit') Add task 
            br
            ul
                each val in toDoList
                    p 
                        li=val.task
                        a(class='button delete-todo' data-todoid=val._id href='/todos/'+val._id) delete task